.container {
    padding: 0 7.7vw 0 7.7vw;
    text-align: center;
}

.error-message {
    color: red;
    display: none;
    font-size: 0.85vw;
    margin: 0 0;
    text-align: left;
}

.flex-container {
    display: flex;
    text-align: left;
}

.flex-vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brand, .nav-links {
    align-items: center;
    display: flex;
}

.brand-logo {
    margin-right: 0.63vw;
    height: 3.125vw;
    width: 3.125vw;
}

.brand-name {
    font-size: 1.25vw;
    font-weight: 500;
    line-height: 200%;
}

.copyright {
    font-size: 1.25vw;
    line-height: 50%;
    margin-top: 0;
}

.cta {
    justify-content: center;
    width: 60%;
}

.cta-div {
    margin: 4.69vw 0 4.55vw 0;
}

.cta-button, .landing-cta-button {
    flex: 1;
}

.cta-email, .landing-cta-email {
    flex: 4;
    margin: 0 2.5vw 1.25vw 0;
}

.cta-p {
    margin: 0 0 1.875vw 0;
    font-size: 2.5vw;
    font-weight: 500;
    line-height: 150%;
}

.cta-wrapper {
    display: flex;
    justify-content: center;
}

.fa-spinner {
    display: none;
    font-size: 1.56vw;
    line-height: 2.42vw;
}

.header-div {
    padding-top: 2.1vw;
    justify-content: space-between;
}

.hero-img {
    height: 34.5vw;
    width: 43.125vw;
}

.icon-button {
    color: white;
}

.info {
    padding: 0 0;
    background: #FBFEFB;
}

.info-div {
    margin: 3.9vw 7.7vw 0 7.7vw;
    padding-bottom: 5.25vw;
}

.info-left {
    flex: 2;
    margin-right: 6.25vw;
}

.info-right {
    align-content: center;
    flex: 3;
    padding-bottom: 3.125vw;
}

.info-p {
    font-size: 2.5vw;
    font-weight: 500;
    line-height: 150%;
    margin: 7.8125vw 7.7vw 0 7.7vw;
    padding-top: 4.69vw;
}

.landing {
    padding-top: 4.6874vw;
}

.landing-left, .landing-right {
    flex: 1;
}

.landing-p1, .landing-p1 > span {
    font-size: 3.125vw;
    font-weight: 400;
    line-height: 120%;
}

.landing-p1 > span {
    font-weight: 900;
}

.landing-p2 {
    font-size: 1.25vw;
    font-weight: 300;
    line-height: 200%;
}

.landing-p3 {
    font-size: 1.1vw;
    font-weight: 400;
    line-height: 229%;
    padding-top: 1.625vw;
    margin-bottom: 0;
}

.landing-p4 {
    font-size: 1.875vw;
    font-weight: 300;
    line-height: 100%;
    margin-top: 0.625vw;
    margin-bottom: 1.875vw;
}

.landing-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-item {
    margin-bottom: 3.125vw;
}

.mock-up-img {
    height: auto;
    max-width: 100%;
}

.nav-links > a {
    font-size: 1.1vw;
    font-weight: 500;
    line-height: 170%;
    padding: 0 1.25vw;
}

.social-icon {
    height: 2.5vw;
    width: 2.5vw;
    margin-left: 7.8vw;
}

.socials {
    align-items: center;
    justify-content: center;
    padding: 2.5vw 0 2.5vw 0;
}

.success-message {
    color: #33CC33;
    display: none;
}

.tick {
    align-items: center;
}

.tick-img {
    align-items: center;
    height: 2.5vw;
    margin-right: 1.172vw;
    width: 2.5vw;
}

*:not(i) {
    color: #0A290A;
    font-family: Poppins, sans-serif;
    font-size: 1.4vw;
    font-style: normal;
}

a {
    text-decoration: none;
}

body { 
    background: #F9F9F9;
	float: none; 
	margin: 0 auto; 
	max-width: 2160px; 
}

button {
    background: #33CC33;
    border: none;
    border-radius: 0.78vw;
    color: white;
    cursor: pointer;
    font-size: 1.56vw;
    font-weight: 600;
    line-height: 2.34vw;
    padding: 0.78vw 3.91vw;
    white-space: nowrap;
}

button:focus, input:focus {
    outline: none;
}

input {
    border: 0.078125vw solid rgba(51, 204, 51, 0.4);
    border-radius: 0.78vw;
    box-sizing: border-box;
    caret-color:  rgba(51, 204, 51, 0.4);
    font-size: 1.09vw;
    line-height: 2.34vw;
    padding: 0.78vw 1.56vw;
    width:  100%;
}

h3, p {
    margin: 1.25vw 0 0 0;
}

.info-item {
    line-height: 150%;
    font-size: 1.25vw;
    font-weight: 400;
    margin: 0 0;
}

ul {
    list-style-type:none;
}

@media (max-width: 30em) {
    .brand-logo {
        margin-right: 1.25vh;
        height: 6.25vh;
        width: 6.25vh;
    }

    .brand-name {
        font-size: 2.5vh;
        font-weight: 500;
        line-height: 200%;
    }
    
    .container {
        padding: 0 2.5vh 0 2.5vh;
    }

    .copyright {
        font-size: 1.875vh;
        line-height: 150%;
    }
    
    .cta {
        flex-direction: column;
        width: 100%;
    }
    
    .cta-button, .landing-cta-button {
        flex: 1;
    }

    .cta-email, .landing-cta-email {
        flex: 1;
        margin: 0 0 2.5vh 0;
    }

    .cta-div {
        margin: 7.5vh 0 7.5vh 0;
    }

    .cta-p {
        margin: 0 0 2.5vh 0;
        font-size: 2.1875vh;
        line-height: 150%;
    }
        
    .error-message {
        font-size: 1.875vh;
    }

    .fa-spinner {
        display: none;
        font-size: 2.5vh;
        line-height: 100%;
    }
    
    .header-div {
        padding-top: 4.1625vh;
    }

    .hero-img {
        height: auto;
        width: 100%;
    }
    
    .info-div {
        flex-direction: column;
        padding-bottom: 0;
        margin: 0 0 1.40625vh 0;
    }

    .info-item {
        line-height: 133%;
        font-size: 1.875vh;
    }
    
    .info-left {
        display: flex;
        flex: 1;
        padding: 0 0 0 3vh;
        margin: 0 0 3.75vh 0;
        justify-content: center;
    }
    
    .info-p {
        font-size: 2.1875vh;
        font-weight: 500;
        line-height: 150%;
        margin: 7.5vh 0 3.125vh 0;
        padding-top: 3.90625vh;
    }
    
    .info-right {
        flex: 1;
        padding-bottom: 0;
    }
    
    .landing {
        flex-direction: column-reverse;
    }

    .landing-cta {
        flex-direction: column;
    }
    
    .landing-p1, .landing-p1 > span {
        font-size: 3.125vh;
        font-weight: 400;
        line-height: 120%;
    }

    .landing-p1 > span {
        font-weight: 900;
    }
    
    .landing-p2 {
        font-size: 1.875vh;
        font-weight: 300;
        line-height: 133%;
        margin-top: 2.5vh;
    }

    .landing-p3 {
        font-size: 1.875vh;
        font-weight: 400;
        line-height: 133%;
        padding-top: 0;
        margin-bottom: 0;
    }

    .landing-p4 {
        font-size: 1.875vh;
        font-weight: 300;
        line-height: 133%;
        margin-top: 1.25vh;
        margin-bottom: 2.5vh;
    }

    .landing-right {
        padding: 2.5vh 7.1875vh 0 7.1875vh;
    }

    .list-item {
        margin-bottom: 2.5vh;
    }

    .mock-up-img {
        height: 100%;
        width: 70%;
    }
    
    .social-icon {
        height: 3.125vh;
        width: 3.125vh;
        margin-left: 1.25vh;
    }
    
    .socials {
        padding: 2.1875vh 0 2.8125vh 0;
    }
    
    .success-message {
        font-size: 2.5vh;
        margin-top: 2.5vh;
    }
    
    .tick-img {
        height: 1.875vh;
        margin-right: 1.25vh;
        width: 1.875vh;
    }

    .nav-links {
        display: none;
    }
    
    button {
        border-radius: 1.5625vh;
        font-size: 2.5vh;
        line-height: 100%;
        padding: 2.1875vh 0;
        width: 100%;
    }

    input {
        border: 0.15625vh solid rgba(51, 204, 51, 0.4);
        border-radius: 1.5625vh;
        font-size: 2.1875vh;
        line-height: 100%;
        padding: 2.1875vh 2.1875vh;
        width:  100%;
    }

    h3, p {
        margin: 3.75vh 0 0 0;
    }

}