.container {
    padding: 0px 7.7vw 0px 7.7vw;
    text-align: center;
}

.error-message {
    color: red;
    font-size: 0.85vw;
    margin: 0px 0px;
    text-align: left;
}

.flex-container {
    display: flex;
    text-align: left;
}

.flex-vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brand, .nav-links {
    align-items: center;
    display: flex;
}

.brand-logo {
    margin-right: 0.63vw;
    height: 3.125vw;
    width: 3.125vw;
}

.brand-name {
    font-size: 1.25vw;
    font-weight: 500;
    line-height: 200%;
}

.copyright {
    font-size: 1.25vw;
    line-height: 50%;
    margin-top: 0;
}

.cta {
    justify-content: center;
    width: 60%;
}

.cta-div {
    margin: 9.375vh 0 9.1vh 0;
}

.cta-button, .landing-cta-button {
    flex: 1;
}

.cta-email, .landing-cta-email {
    flex: 4;
    margin: 0 2.5vw 2.5vh 0;
}

.cta-p {
    margin: 0 0 3.75vh 0;
    font-size: 2.5vw;
    font-weight: 500;
    line-height: 150%;
}

.cta-wrapper {
    display: flex;
    justify-content: center;
}

.header-div {
    padding-top: 4.2vh;
    justify-content: space-between;
}

.hero-img {
    height: auto;
    width: 100%;
}

.info {
    padding: 0 0;
    background: #FBFEFB;
}

.info-div {
    margin: 7.8vh 7.7vw 0px 7.7vw;
    padding-bottom: 10.5vh;
}

.info-left {
    flex: 2;
    margin-right: 6.25vw;
}

.info-right {
    align-content: center;
    flex: 3;
    padding-bottom: 6.25vh;
}

.info-p {
    font-size: 2.5vw;
    font-weight: 500;
    line-height: 150%;
    margin: 15.625vh 7.7vw 0px 7.7vw;
    padding-top: 9.375vh;
}

.landing {
    padding-top: 0;
}

.landing-left, .landing-right {
    flex: 1;
}

.landing-p1, .landing-p1 > span {
    font-size: 3.125vw;
    font-weight: 400;
    line-height: 120%;
}

.landing-p1 > span {
    font-weight: 900;
}

.landing-p2 {
    font-size: 1.25vw;
    font-weight: 300;
    line-height: 200%;
}

.landing-p3 {
    font-size: 1.1vw;
    font-weight: 400;
    line-height: 229%;
    padding-top: 3.25vh;
    margin-bottom: 0;
}

.landing-p4 {
    font-size: 1.875vw;
    font-weight: 300;
    line-height: 100%;
    margin-top: 1.23vh;
    margin-bottom: 3.7vh;
}

.landing-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.list-item {
    margin-bottom: 6.25vh;
}

.mock-up-img {
    height: auto;
    max-width: 100%;
}

.nav-links > a {
    font-size: 1.1vw;
    font-weight: 500;
    line-height: 170%;
    padding: 0 1.25vw;
}

.social-icon {
    height: 2.5vw;
    width: 2.5vw;
    margin-left: 7.8vw;
}

.socials {
    align-items: center;
    justify-content: center;
    padding: 5vh 0 5vh 0;
}

.success-message {
    color: #33CC33;
}

.tick {
    align-items: center;
}

.tick-img {
    align-items: center;
    height: 2.5vw;
    margin-right: 1.172vw;
    width: 2.5vw;
}

* {
    color: #0A290A;
    font-family: Poppins, sans-serif;
    font-size: 1.4vw;
    font-style: normal;
}

a {
    text-decoration: none;
}

body { 
    background: #F9F9F9;
	float: none; 
	margin: 0 auto; 
	max-width: 2160px; 
}

button {
    background: #33CC33;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    line-height: 4.769vh;
    padding: 1.56vh 3.91vw;
    font-size: 1.56vw;
    white-space: nowrap;
}

button:focus, input:focus {
    outline: none;
}

input {
    border: 1px solid rgba(51, 204, 51, 0.4);
    border-radius: 0.78vw;
    box-sizing: border-box;
    caret-color:  rgba(51, 204, 51, 0.4);
    font-size: 1.09vw;
    line-height: 4.769vh;
    padding: 1.56vh 1.56vw;
    width:  100%;
}

h3, p {
    margin: 2.5vh 0 0 0;
}

.info-item {
    line-height: 150%;
    font-size: 1.25vw;
    font-weight: 400;
    margin: 0 0;
}

ul {
    list-style-type:none;
}

/* @media (max-width: 800px) {
    .container {
        padding: 16px 24px;
    }

    .flex-container {
        flex-direction: column;
    }

    .flex-container.list, .header-div, .tick {
        flex-direction: row;
    }
    
    .cta-email {
        width: 80%;
        margin: 0px 0px 16px 0px;
    }

    .cta {
        margin-bottom: 24px;
    }

    .info-div, .info-p {
        margin: 16px 24px 0px 24px;
    }
    
    .info-left, .info-right {
        flex: 1;
    }
    
    .landing-cta {
        text-align: left;
    }

    .landing-cta-button > button {
        float: none;
    }

    .landing-p1, .landing-p1 > span {
        line-height: 76.78px;
    }
    
    .tick {
        align-items: center;
    }

    .tick-img {
        height: 30px;
        justify-content: center;
        width: 30px;
    }
  
    button {
        float: none;
    }
    
    input {
        margin-right: 0px;
        width: 100%;
    }
} */